@*@model IEnumerable<GroceryStore.Controllers.Dto.ProductDto>*@

@using GroceryStore.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<GroceryStore.Controllers.Dto.ProductDto>

@{ ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<head>
    <link rel="stylesheet" href="~/css/carousel.css" />
</head>

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Products <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">Products</h2>
            </div>
        </div>
    </div>
</section>
<center>
    @*<section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        @Html.DropDownList("Category", "Select Category")
                    </div>

                </div>
        </section>*@

    @using (Html.BeginForm("Product", "Product", FormMethod.Post))
    {

        <p>
            <div class="form-group">
                <div id="Search">
                    Search Product:
                    @Html.TextBox("searchText", null, new { @class = "form-control", @style = "max-width:40%" })
                    @*<input type="text" name="searchText" class="form-control" style="max-width:40%" />*@
                    <button type="submit" class="btn button2" value="Find">Search</button>
                </div>
            </div>
        </p>

    }

</center>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.search').click(function () {
            var $productview = $(this).parent().parent().parent().parent().parent().next();
            jQuery($productview).fadeIn('1000');
        });

        $('.close-btn').click(function () {
            var $closebtn = $(this).parent();
            $($closebtn).fadeOut('800');
        });
    });</script>


<div class="container">
    <h3 class="h3">Our Products </h3>


    @if (true)
    {
        <a id="proceed-checkout" href="../Cart/Cart" style="position: relative; z-index: 10000; visibility: @( Model.Where(x => x.customerId > 0).ToList().Count > 0 ?"visible":"hidden")">
            <button id="proceed-button" type="submit" class="btn btn-primary" style="position: fixed; bottom: 12px; width: 180px; right: 25px; padding: 10px;"><span style=" display: inline-block; margin-right: 12px; font-size: 1.8em; font-weight: 900;">Proceed</span> <span style="font-size: 1.8em; font-weight: bold; position: relative; top: 2px;">&#10132;</span></button>
        </a>
    }


    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="product-grid" style="height: 400px;">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="@item.ImageFilePath">
                        <img class="pic-2" src="@item.ImageFilePath2">
                    </a>

                    <ul class="social">
                        <li><a data-tip="Quick View" class="search"> <i class="fa fa-search"></i></a></li>
                        <li><a href="../SingleProduct/SingleProduct?product_id=@item.product_id" data-tip="Product Detail"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="../SingleProduct/ShowComment?product_id=@item.product_id" data-tip="Check Reviews"><i class="fa fa-star"></i></a></li>

                        @*@Html.ActionLink("Add/View Comment", "ShowComment", new { product_id = item.product_id })*@
                        @*<li><a href="../SingleProduct/ShowComment" data-tip="Check Reviews"><i class="fa fa-shopping-cart"></i></a></li>*@
                    </ul>

                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">@item.DiscountPrice</span>

                </div>

                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>

                <div class="product-content" style="padding: 0px;">
                    <h3 class="title"><a href="#">@item.product_name</a></h3>
                    <div class="price">@item.SellingPrice<span>@item.DiscountPrice</span></div>
                    <a class="price"> Location = @item.MartLocation</a>
                </div>

            </div>
            <center>
                @*action="../Cart/SubmitList"*@
                <form onsubmit="submitProduct(event)">
                    <input type="hidden" name="productId" value="@item.product_id">
                    <input type="hidden" name="customerId" value="@item.customerId" />
                    <a class="add-to-cart" href="#">
                        @if (item.customerId > 0)
                        {
                            <button class="button2" style="padding: 10px 20px;">Remove</button> }
                        else
                        {
                            <button class="button2" style="padding: 10px 20px;">Add to Cart</button>}
                    </a>
                    @*<input name="hidden" name="customerId" value="@item.cus">*@
                </form>
            </center>
        </div>
        <div class="product-view">
            <div class="close-btn">X</div>
            <div class="product-big-image">
                <img src="@item.ImageFilePath">
            </div>

            <div class="product-big-desc">

                <h2>@item.product_name</h2>
                <h2>product Code: @item.product_id</h2>
                <h5>category: @item.category_id</h5>
                <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
                <div class="price">
                    <h4 class="old-price"><del>Rs.@item.DiscountPrice</del><sup>25% off</sup></h4>
                    <h4 class="new-price">Rs.@item.SellingPrice +<abbr>99 Shipping</abbr></h4>
                </div>

                <button class="button2">Click to Buy</button>
                <br>
                <p><b>Warrenty: </b> 1 day seller replacement </p>
                <p><b>Shipping:</b> Dispatched with 2-3 days</p>
            </div>
        </div>}


    <script>
    let allProducts = @Model.Where(x => x.customerId > 0).ToList().Count;
    let customerValue = @( @Model.Where(x => x.customerId > 0).ToList().FirstOrDefault() != null ? @Model.Where(x => x.customerId > 0).ToList().FirstOrDefault().customerId : 0 );

        console.log('asdf');
    $.get(window.location.origin + '/Product/GetCustomerId', (customerId) => {
        console.log(customerId);
        //if (customerValue !== 0)
        customerValue = parseInt(customerId);
    });

    console.log(allProducts);
    console.log(customerValue);
    const submitProduct = (event) => {
        event.preventDefault();
        const messageRemove = "Remove";
        const messageAdd = "Add to Cart";

        let element = $(event.srcElement);
        let deleteValue = 0;

        const child = $(element.children().get(2));




        $.post(window.location.origin + '/Cart/SubmitList', $(event.srcElement).serialize(),
            (data) => {
                if (data == "ADD") {
                    $(child).children().get(0).textContent = messageRemove;
                    allProducts = allProducts + 1;
                    $($(event.srcElement).children().get(1)).attr("value", customerValue.toString());
                    @*$($(child).children().get(1)).attr('value', customerValue.toString());*@
                }
                else if (data == "REMOVE") {
                    $(child).children().get(0).textContent = messageAdd;
                    allProducts = allProducts - 1;
                    console.log($($(child).children().get(1)));
                    $($(event.srcElement).children().get(1)).attr("value", "0");
                } else if (data == "ERROR") {
                    var x = document.getElementById("toast")
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 2000);
                } else if (data == "REDIRECT") {
                    window.location.href = "/Auth/Auth";
                    @*var link = document.createElement('form');
                    link.method = "GET";
                    link.action = document.location.host + "/Auth/Auth";
                    document.body.appendChild(link);
                    link.submit();*@
                }

                console.log($($(child).children()));
        

                if (allProducts == 0) {
                    $("#proceed-button").css('visibility', 'hidden');

                } else if (allProducts > 0) {
                    $("#proceed-button").css('visibility', 'visible');
                }

                console.log("doc is append");

            }
        );


    }
    </script>

    <style>
        @@media screen and (max-width: 600px) {
            #proceed-checkout button {
                width: 120px !important;
            }

                #proceed-checkout button span {
                    font-size: 1.2em !important;
                }
        }
    </style>

</div>
<br>
<br>

<center>
    <div class="col text-center">
        <div class="block-27">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, Page_No => Url.Action("Product", new { Page_No, Filter_Value = ViewBag.FilterValue }))
        </div>
    </div>
    <br>
    <br>
</center>






<h3 class="h3">Recommended for you</h3>

@*Try Carousel start*@
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    @{ 
                        int cid = 150;
                        var user = Session["userID"];
                        if (user != null)
                        {
                            cid = Int32.Parse(user.ToString());
                        }

                        Html.RenderAction("pvMLComponent", "Product", new { CustomerID = cid }); }
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
@*Try carousel end*@


</div>

<div id="toast" class=""><div id="desc">Product out of stock</div></div>

<style>
    #toast {
        visibility: hidden;
        max-width: 50px;
        height: 50px;
        /*margin-left: -125px;*/
        margin: auto;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 30px;
        font-size: 17px;
        white-space: nowrap;
        font-family: Spectral, serif;
        background-color: #f7020287;
    }
        #toast #img {
            width: 50px;
            height: 50px;
            float: left;
            padding-top: 16px;
            padding-bottom: 16px;
            box-sizing: border-box;
            background-color: #111;
            color: #fff;
            background-color: #f7020287;
        }
    #toast #desc{


        color: #fff;

        padding: 16px;

        overflow: hidden;
	    white-space: nowrap;
        background-color: #f7020287;
    }

    #toast.show {
        visibility: visible;
        -webkit-animation: fadein 0.2s, expand 0.2s 0.2s,stay 1s 1s, shrink 0.2s 2s, fadeout 0.2s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

    @@-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @@keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @@-webkit-keyframes expand {
        from {min-width: 50px}
        to {min-width: 350px}
    }

    @@keyframes expand {
        from {min-width: 50px}
        to {min-width: 350px}
    }
    @@-webkit-keyframes stay {
        from {min-width: 350px}
        to {min-width: 350px}
    }

    @@keyframes stay {
        from {min-width: 350px}
        to {min-width: 350px}
    }
    @@-webkit-keyframes shrink {
        from {min-width: 350px;}
        to {min-width: 50px;}
    }

    @@keyframes shrink {
        from {min-width: 350px;}
        to {min-width: 50px;}
    }

    @@-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 60px; opacity: 0;}
    }

    @@keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 60px; opacity: 0;}
    }
</style>