@model IEnumerable<GroceryStore.Models.product>


@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="@item.ImageFilePath">
                    <img class="pic-2" src="@item.ImageFilePath2">
                </a>

                <ul class="social">
                    <li><a data-tip="Quick View" class="search"> <i class="fa fa-search"></i></a></li>
                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="cart.html" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>

                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">@item.DiscountPrice</span>

            </div>

            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
            </ul>

            <div class="product-content">
                <h3 class="title"><a href="#">@item.product_name</a></h3>
                <div class="price">@item.CostPrice<span>@item.DiscountPrice</span></div>
                <a class="add-to-cart" href="product-single.html">View Details</a>
            </div>

        </div>
        <center>
            <a class="add-to-cart" href="../Cart/Cart"><button class="button2" style="margin: 20px;">Add to Cart</button></a>
        </center>
    </div>
    <div class="product-view">
        <div class="close-btn">X</div>
        <div class="product-big-image">
            <img src="@item.ImageFilePath">
        </div>

        <div class="product-big-desc">

            <h2>@item.product_name</h2>
            <h2>product Code: @item.product_id</h2>
            <h5>category: Vegetables</h5>
            <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
            <div class="price">
                <h4 class="old-price"><del>Rs.3456</del><sup>25% off</sup></h4>
                <h4 class="new-price">Rs.3000 +<abbr>99 Shipping</abbr></h4>
            </div>

            <button class="button2">Click to Buy</button>
            <br>
            <p><b>Warrenty: </b> 1 day seller replacement </p>
            <p><b>Shipping:</b> Dispatched with 2-3 days</p>
        </div>
    </div>

    }
