@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Cashier Counters</h1>
                <div>
                    <a href="/Cashier_Counter/Create" class=" button2 py-3 px-4">Create New</a>
                </div>
                <hr />
                <center>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Max Order Limit</th>
                                <th>Total Orders in Queue</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Cashier_Counters)
                            {
                                <tr class="active-row">
                                    
                                    <td>@item.Location</td>
                                    <td>@item.MaxOrderLimit</td>
                                    <td>@item.Current_Order_Count</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </center>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
