@model GroceryStore.Controllers.Dto.UserDto

@{
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
    //Layout = null;
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Product Details</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="content-table">
                                        <tr>
                                            <th>
                                                Product Name
                                            </th>

                                            <td>
                                                @Model.product.product_name
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Category
                                            </th>
                                            <td>
                                                @Model.product.Category.category1
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Image file path
                                            </th>
                                            <td>
                                                @Model.product.ImageFilePath
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Selling Price
                                            </th>
                                            <td>
                                                @Model.product.SellingPrice
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Cost Price
                                            </th>
                                            <td>
                                                @Model.product.CostPrice
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Discount  Price
                                            </th>
                                            <td>
                                                @Model.product.DiscountPrice
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Full description
                                            </th>
                                            <td>
                                                @Model.product.FullDescription
                                            </td>

                                        </tr>

                                        <tr>
                                            <th>
                                                Stock Ammount
                                            </th>
                                            <td>
                                                @Model.product.StockAmount
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                SKU
                                            </th>
                                            <td>
                                                @Model.product.SKU.Description
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Mart Location
                                            </th>
                                            <td>
                                                @Model.product.MartLocation
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Image path 2
                                            </th>
                                            <td>
                                                @Model.product.ImageFilePath2
                                            </td>
                                        </tr>

                                    </table>

                                <hr>
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.product.product_id }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>