@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.User = Model.User;
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}



<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Products</h1>
                <div>
                    <a href="/Allproducts/Create" class=" button2 py-3 px-4">Create New</a>
                </div>
                <hr />
                <center>
                    <table class="content-table">
                        <thead>

                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Stock ammount</th>
                                <th>Mart Location</th>
                                <th>Product Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Products)
                            {
                <tr class="active-row">
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImageFilePath)" alt="" width="80px" height="80px" />
                    </td>
                    <td>@item.product_name</td>
                    <td>@item.StockAmount</td>
                    <td>@item.MartLocation</td>
                    <td>@item.Category.category1</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.product_id })
                        @Html.ActionLink("Details", "Details", new { id = item.product_id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
                    </td>
                </tr>}

                        </tbody>
                    </table>
                </center>

                <center>
                    <div class="col text-center">
                        <div class="block-27">
                            Page 1 of 3
                            <div class="pagination-container"><ul class="pagination"><li class="active"><a>1</a></li><li><a href="/allproducts/index?Page_No=2">2</a></li><li><a href="/allproducts/index?Page_No=3">3</a></li><li class="PagedList-skipToNext"><a href="/allproducts/index?Page_No=2" rel="next">»</a></li></ul></div>
                        </div>
                    </div>
                    <br>
                    <br>
                </center>

            </div>
                <!-- /.col-lg-12 -->
            </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
