@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit following Complaint</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">


                                @using (Html.BeginForm("Edit", "Customer_Complaints", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.customer_Complaint.Complaint_Id)
                                    @Html.HiddenFor(model => model.customer_Complaint.Complaint_type_Id)



                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <table class="content-table">
                                            <tr>
                                                <th>
                                                    Complaint description
                                                </th>

                                                <td>

                                                    @Html.EditorFor(model => model.customer_Complaint.Complaint, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.customer_Complaint.Complaint, "", new { @class = "text-danger" })

                                                </td>
                                            </tr>



                                        </table>


                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Submit" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>