@model GroceryStore.Controllers.Dto.UserDto
@*//Customer Complaint View*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Complaint History</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <a href="../Customer_Complaints/Create">
            <div>
                <span class=" button3 py-2 px-1">
                    Create new
                </span>
            </div>
        </a>
        
        <hr>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">

                <center>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Complaint description</th>
                                <th>Complaint Status</th>
                                <th>Complaint Created Date</th>
                                <th>Complaint Type</th>
                                <th>Remarks</th>
                                <th>Status Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model.Customer_Complaints)
                            {
                                <tr class="active-row">

                                    <td>@item.Complaint</td>
                                    <td>@item.Complaint_Status</td>
                                    <td>@item.date</td>
                                    <td>@item.Complaint_Type.Complaint_Tpe</td>
                                    <td>@item.remakrs </td>
                                    <td>@item.status_date</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Complaint_Id })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Complaint_Id })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </center>

            </div>
        </div>
    </div>
</div>