@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Complaints</h1>
                <center>
                    <table class="content-table">
                        <thead>

                            <tr>
                                <th>Create Date</th>
                                <th>Customer id</th>
                                <th>Complaint Description</th>
                                <th>Complaint type</th>
                                <th>Complaint status</th>
                                <th>Status date</th>
                                <th>Actions</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Customer_Complaints)
                            {
                            <tr class="active-row">
                                <td>@item.date</td>
                                <td>@item.Customer_Id</td>
                                <td>@item.Complaint</td>
                                <td>@item.Complaint_Type.Complaint_Tpe</td>
                                <td>@item.Complaint_Status</td>
                                <td>@item.status_date</td>

                                <td>
                                    <ul class="nav navbar-right navbar-top-links" style="text-align: center; position: relative; left: -20px;">
                                        <li class="dropdown navbar-inverse">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <span>&#9776;</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-alerts" style="width: 80px !important;">
                                                @if (!item.Complaint_Status.Contains("RESOLVED"))
                                                {
                                                    
                                                    <li>
                                                        <a>
                                                            <div>
                                                                <span onclick="passOrderData(event)" complaintId="@item.Complaint_Id" customerId="@item.Customer_Id" status="RESOLVED" data-toggle="modal" data-target="#RemarksModal" class="pull-right text-muted small">
                                                                    Resolved
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>@item.remakrs</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </center>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="RemarksModal" role="dialog">
        <div class="modal-dialog">

            <input id="order-id" type="hidden" value="" />

            <!-- Modal content-->
            <form id="OrderLink" action="../AdminCustomer_Complaints/ResolveComplaint" method="post">

                <input id="complaintStatus" type="hidden" name="status" value="" />
                <input id="customerIdInput" type="hidden" name="customerId" value="" />
                <input id="complaintIdInput" type="hidden" name="complaintId" value="" />

                <div class="modal-content">
                    <div class="modal-header" style="display: flex;">
                        <button style="flex-basis: 32px; order: 2;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="flex: 1; order: 1; " class="modal-title">Remarks</h4>
                    </div>
                    <div class="modal-body">
                        <textarea name="remarks" id="UserRemarks" rows="5" style="width: 100%;" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>

<script>
    function passOrderData(event) {
        // the element is selected that is targeted by click listner (it contains caller itself)
        let element = event.target;

        // get customer and order Id's
        let customerId = $(element).attr("customerId");
        let complaintId = $(element).attr("complaintId");
        let complaintStatus = $(element).attr("status");

        // Assigning customerId, orderId, userRemarks to it's atribute's value
        // ex customerIdInput = customerId
        // "#customerIdInput" target an element
        $("#customerIdInput").attr("value", customerId);
        $("#complaintIdInput").attr("value", complaintId);
        $("#complaintStatus").attr("value", complaintStatus);

    }
</script>