@model IEnumerable<GroceryStore.Models.Category>

@{
    //Layout = "~/Views/Shared/AdminDashboard.cshtml";
    Layout = null;
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">All Categories</h1>
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            View All Categories
                        </div>
                        <div class="container">
                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.category1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageFilePath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Product_Location.position)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageFilePath)
                                </td>
                                <td>
                                    @if (item.Product_Location != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.Product_Location.position)
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.category_id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.category_id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.category_id })
                                </td>
                            </tr>
                                }

                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

