@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.Title = "PastOrder";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Delivered Orders</h1>
                <center>
                    <table class="content-table">
                        <thead>

                            <tr>
                                <th>Create Date</th>
                                <th>Order Id</th>
                                <th>Customer Id</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Order Type</th>
                                <th>Billing Address</th>
                                <th>Order Status</th>
                                <th>Click for details</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.OrderDto)
                            {
                                <tr class="active-row">
                                    <td>@item.date</td>
                                    <td>@item.order_id</td>
                                    <td>@item.CustomerID</td>
                                    <td>@item.quantity</td>
                                    <td>@item.CostPrice</td>
                                    <td>@item.OrderType</td>
                                    <td>
                                        @if (item.AddressName != null && item.AddressName != "")
                                        {
                                            @item.AddressName }
                                        else
                                        {
                                            <span>NA</span>}
                                    </td>
                                    <td>
                                        @item.OrderStatus
                                    </td>
                                    <td>
                                        <a href="../PastOrder/PastOrderDetails?OrderId=@item.order_id&CustomerId=@item.CustomerID">
                                            <div>
                                                <span class=" button3 py-2 px-1">
                                                    Details
                                                </span>
                                            </div>
                                        </a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </center>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
