@model GroceryStore.Controllers.Dto.CartDto
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="../Hom/Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Cart <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">My Cart</h2>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total with Discount</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.product_list)
                        {
                            <tr class="alert" role="alert">
                                <td>
                                    <label class="checkbox-wrap checkbox-primary">
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="img" style="background-image: url(@item.product.ImageFilePath);"></div>
                                </td>
                                <td>
                                    <div class="email">
                                        <span>@item.product.product_name</span>
                                        <span>@item.product.FullDescription</span>
                                    </div>
                                </td>
                                <td>@item.product.SellingPrice</td>
                                
                                <td class="quantity">
                                    <div class="input-group">
                                        <input onkeyup="updateProductQty(event)" id="Product-@item.ProductID" type="number" name="quantity" class="quantity form-control input-number" value="@item.quantity" min="1" max="100" required>
                                    </div>
                                </td>
                                
                                <td>@(@item.product.SellingPrice * item.quantity - item.product.DiscountPrice * item.quantity)</td>
                                
                                <td>
                                    <form onsubmit="deleteProduct(event)">
                                        <input type="hidden" name="productId" value="@item.ProductID">
                                        <button class="close">
                                            <span><i class="fa fa-close"></i></span>
                                        </button>
                                    </form>
                                </td>
                                <button style="display: none;" id="product-@item.ProductID"></button>
                            </tr>
                          }
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal without discount</span>
                        <span>@Model.SubTotal </span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>@Model.Delivery</span>
                    </p>
                    <p class="d-flex">
                        <span>Tota Discount</span>
                        <span>@Model.Discount</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>@Model.Total</span>
                    </p>
                </div>
                <p class="text-center"><a href="../Checkout/Checkout" class="btn btn-primary py-3 px-4">Proceed to Delivery</a></p>
                <p class="text-center"><a href="../CustomerDashboard/CustomerDashboard" class="btn btn-primary py-3 px-4">Proceed to Pick up</a></p>

            </div>
        </div>
    </div>
</section>

<script>
    const deleteProduct = (event) => {
        event.preventDefault();
        console.log($(event.srcElement).serialize());
        $.post(window.location.origin + '/Cart/DeleteList', $(event.srcElement).serialize(),
            (data) => {
                console.log(data);
                $(event.srcElement).parent().parent().remove();
                location.reload()
            }
        );
    }

    function updateProductQty(event) {
        const qty = parseInt(event.target.value);

        if (!qty || isNaN(qty)) {
            return false
        }

        let productId = $(event.target).attr("id");
        productId = productId.split("Product-")[1];

        $.post(window.location.origin + '/Cart/UpdateList',
            {
                quantity: qty,
                productId: productId
            },
            (data) => {
                location.reload()
            }
        );
    }

</script>